---
interface Breadcrumb {
    name: string;
    url: string;
}

interface Props {
    items: Breadcrumb[];
}

const { items } = Astro.props;
---

<nav class="breadcrumbs" aria-label="Breadcrumb">
    <ol class="breadcrumbs-list">
        {
            items.map((item, index) => (
                <li>
                    {index < items.length - 1 ? (
                        <a href={item.url}>{item.name}</a>
                    ) : (
                        <span aria-current="page">{item.name}</span>
                    )}
                </li>
            ))
        }
    </ol>
</nav>
